{% extends "base.html" %}
{% block content %}
<h2>Index Template</h2>
<div id="map" style="height: 550px; margin-top: 5px"></div>

{% endblock content %}

{% block scripts %}
    <script>

    var mapOptions = {
    center: [-6.40, 106.79],
    zoom: 13
    }
    var map = L.map('map', mapOptions);

    var tileLayer = new L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });
    tileLayer.addTo(map);
    </script>

{% endblock scripts %}
